In [13]:
## Q No.1 :
"""
You use ordinal encoding to preserve order of categorical data i.e. cold, warm, hot; low, medium, high.
You use label encoding or one hot for categorical data, where there's no order in data i.e. dog, cat, whale.    
"""

"\nYou use ordinal encoding to preserve order of categorical data i.e. cold, warm, hot; low, medium, high.\nYou use label encoding or one hot for categorical data, where there's no order in data i.e. dog, cat, whale.    \n"

In [14]:
## Q No.2 :
# Target guided ordinal categories

# In this method, we calculate the mean of each categorical variable based on the output and then rank them

In [2]:
import seaborn as sns

In [3]:
df=sns.load_dataset("tips")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
mean=df.groupby("day")["total_bill"].mean().to_dict()
mean

{'Thur': 17.682741935483868,
 'Fri': 17.15157894736842,
 'Sat': 20.44137931034483,
 'Sun': 21.41}

In [6]:
df["encoded_mean"]= df["day"].map(mean)

In [7]:
df

     total_bill   tip     sex smoker   day    time  size encoded_mean
0         16.99  1.01  Female     No   Sun  Dinner     2    21.410000
1         10.34  1.66    Male     No   Sun  Dinner     3    21.410000
2         21.01  3.50    Male     No   Sun  Dinner     3    21.410000
3         23.68  3.31    Male     No   Sun  Dinner     2    21.410000
4         24.59  3.61  Female     No   Sun  Dinner     4    21.410000
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3    20.441379
240       27.18  2.00  Female    Yes   Sat  Dinner     2    20.441379
241       22.67  2.00    Male    Yes   Sat  Dinner     2    20.441379
242       17.82  1.75    Male     No   Sat  Dinner     2    20.441379
243       18.78  3.00  Female     No  Thur  Dinner     2    17.682742

[244 rows x 8 columns]

In [8]:
## Q No. 3 :
"""
Covariance is a measure of the relationship between two random variables and to what extent, they change together.
Or we can say,in other words, it defines the changes between the two variables, such that change in one 
variable is equal to change in another variable.
Covariance is a statistical tool investors use to measure the relationship between the movement of two asset prices.
A positive covariance means asset prices are moving in the same general direction.
A negative covariance means asset prices are moving in opposite directions.


Unlike the correlation coefficient, covariance is measured in units.
The units are computed by multiplying the units of the two variables. The variance can take any positive or negative values.
"""

'\nCovariance is a measure of the relationship between two random variables and to what extent, they change together.\nOr we can say,in other words, it defines the changes between the two variables, such that change in one \nvariable is equal to change in another variable.\nCovariance is a statistical tool investors use to measure the relationship between the movement of two asset prices.\nA positive covariance means asset prices are moving in the same general direction.\nA negative covariance means asset prices are moving in opposite directions.\n\n\nUnlike the correlation coefficient, covariance is measured in units.\nThe units are computed by multiplying the units of the two variables. The variance can take any positive or negative values.\n'

In [21]:
## Q No. 4 :
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df=pd.DataFrame({
    "color":["red","green","blue"],
   
})
encoder=LabelEncoder()
encoder.fit_transform(df["color"])
# assigns label according to the alphabetical order

array([2, 1, 0])

In [22]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df=pd.DataFrame({
    "size" : ["small","medium","large"],
})
encoder=LabelEncoder()
encoder.fit_transform(df["size"])
# assigns label according to the alphabetical order

array([2, 1, 0])

In [23]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df=pd.DataFrame({

    "material" :["wood","metal","plastic"]
})
encoder=LabelEncoder()
encoder.fit_transform(df["material"])
# assigns label according to the alphabetical order

array([2, 0, 1])

In [3]:
## Q No. 5 :
import pandas as pd
df=pd.DataFrame({"age" : [23,32,22,24],
              "income" : [10000,12000,13000,14000],
              "education" : ["b.com","B.E","phd","B.E"]
})

In [4]:
df

   age  income education
0   23   10000     b.com
1   32   12000       B.E
2   22   13000       phd
3   24   14000       B.E

In [5]:
df.cov()

/tmp/ipykernel_91/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

               age        income
age      20.916667 -4.166667e+02
income -416.666667  2.916667e+06

In [6]:
## Q No. 6 :
"""

"Gender" (Male/Female) : One hot Encoding because it has 2 unique values i.e. M(Male) or F(Female).
"Education Level" (High School/Bachelor's/Master's/PhD): Ordinal Encoding beacause Ordinal Encoding primarily encodes
ordinal categories into ordered numerical values.
Ordinal encoding maps each unique category value to a specific numerical value based on its order or rank.
"Employment Status" (Unemployed/Part-Time/Full-Time):Label Encoding because The label encoder will convert each category into a unique numerical value.
"""

'\n\n"Gender" (Male/Female) : One hot Encoding because it has 2 unique values i.e. M(Male) or F(Female).\n"Education Level" (High School/Bachelor\'s/Master\'s/PhD): Ordinal Encoding beacause Ordinal Encoding primarily encodes\nordinal categories into ordered numerical values.\nOrdinal encoding maps each unique category value to a specific numerical value based on its order or rank.\n"Employment Status" (Unemployed/Part-Time/Full-Time):Label Encoding because The label encoder will convert each category into a unique numerical value.\n'

In [10]:
## Q No. 7 :

import pandas as pd
df=pd.DataFrame({"Temperature" : [23,32,22,24],
              "humidity" : [10000,12000,13000,14000],
              "Weather Condition" :["Sunny","Cloudy","Rainy","humid"],
                 "Wind Direction" : ["North","South","East","West"]
})

df

   Temperature  humidity Weather Condition Wind Direction
0           23     10000             Sunny          North
1           32     12000            Cloudy          South
2           22     13000             Rainy           East
3           24     14000             humid           West

In [11]:
df.cov()

/tmp/ipykernel_91/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             Temperature      humidity
Temperature    20.916667 -4.166667e+02
humidity     -416.666667  2.916667e+06

In [12]:
df.corr(method= "pearson")

/tmp/ipykernel_91/4159550312.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method= "pearson")

             Temperature  humidity
Temperature     1.000000 -0.053346
humidity       -0.053346  1.000000